body{

    background-image: url("/assets/images/seesaw.jpg");
    background-position: center center;
}

#login{
     float:right;
border: lightblue solid 2px;
 }

h1{
    color: darkgoldenrod;
    text-align: center;
    letter-spacing: 0.1em;
}

h3{
    color: lightslategray;
    text-align: center;


}