
#login{
     float:right;
border: lightblue solid 2px;
 }

h1{
    color: darkgoldenrod;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 400%;
}

h3{
    color: lightslategray;
    text-align: center;


}

#banner {
    background-image: url("../images/cover2.png");

    background-repeat: no-repeat;
    background-position: center;
   height: 600px;
}

.right{
    float:right;
}

.colour{
    background-color: white;
}

.connect{
    float: right;

}

.nav-item{
    padding-right: 40px;
}

.navbar-text{
    padding-right: 60px;
}

.connect>p>.pad{
    padding-right: 20px;
}