/*
Creator: Pauline Cairns
Date: 11/03/2019
Purpose: Page provides css for tables across the app
*/


td, th {
    text-align: left;
}

td {
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
}

th {
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
}